:root {
  --color-primary: #ff950044;
  --color-main-bg: #002d8191;
  --container: 1140px;
  --color-gray: #a3a2aa;
  --color-black: #000000;
  --color-black-secondary: #00000069;
  --color-background-message: #e6e6e6;
  --color-input: #ededed;
  --color-input-txt: #424242cc;
  --color-author: #7b63f7;
  --active-input: #9718ff54;
  --send-btn: #7b63f7;
  --base-delay: 0.45s;
}
