:root {
  --color-primary: #ff950044;
  --color-main-bg: #002d8191;
  --container: 1140px;
  --color-gray: #a3a2aa;
  --color: #000000;
  --color-background-message: #e6e6e6;
  --color-input: #ededed;
  --color-input-txt: #424242cc;
  --color-author: #9718ff;
  --active-input: #d4d3d3;
  --send-btn: #9718ff;
  --base-delay: 0.45s;
}
