@import "/src/variables.scss";

.message__field {
  max-width: 15%;
  text-align: left;
  background-color: $bgMessageField;
  border-radius: 5px;
  position: relative;
  z-index: 2;
  &__comma {
    position: absolute;
    width: 10px;
    height: 10px;
    border-bottom: 20px solid $bgMessageField;
    border-right: 20px solid transparent;
    bottom: -1px;
    right: -15px;
    z-index: 1;
    transform: rotate(20deg);
  }
}

.message__content {
  color: #fff;
}
